.formInputDesign{
    width: 100%;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin: 0.5em;
}

.formInputLabel{
    width: fit-content;
    user-select: none;
    padding: 0 0.75em 0 0.75em;
    margin: 0 1.5em -1em 1.5em;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    color: #fff;
    border: 0.25em solid transparent;
    border-radius: 1.8em;
    background-image: linear-gradient(var(--secondary-red), var(--secondary-red)), linear-gradient(120deg, #fff 0%, var(--main-red) 50%, var(--main-red-secondary) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    z-index: 3;
}

.formInputField{
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    height: fit-content;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(var(--secondary-red), var(--secondary-red)), linear-gradient(120deg, #fff 0%, var(--main-red) 50%, var(--main-red-secondary) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%;
    transition: background-position 0.8s ease-out;
}

.formInputField:hover{
    background-position: 100% 0;
}

.formInputField:disabled{
    background-image: linear-gradient(var(--main-dark-red), var(--main-dark-red));
}