.entityHeader{
    font-family: "Press Start 2P", system-ui;
    background-color: var(--main-red-secondary);
    box-shadow: 0px 0px 4px 2px var(--main-red), inset 0px 0px 4px 5px var(--main-red-transparent);
    color: #ffffff;
    border-radius: .1em;
    margin: .5em;
}