
.formButtonDesign {
    color: #fff;
    font-weight: bold;
    user-select: none;
    border-style: none;
    outline: none;
    height: fit-content;
    padding: 0.8em 1em;
    margin: 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(var(--secondary-red), var(--secondary-red)), linear-gradient(120deg, #fff,  #bfbfbf, var(--main-red), var(--main-red-secondary), var(--main-dark-red));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 0.5em;
    background-size: 200% 100%;
    transition: 1s;
    animation: glowing-button 20s linear infinite;
    pointer-events: all;
}

.formButtonDesignEdit {
  color: #00ff00;
  font-weight: bold;
  user-select: none;
  border-style: none;
  outline: none;
  height: fit-content;
  padding: 0.8em 1em;
  margin: 1em;
  border: 0.25em solid transparent;
  background-image: linear-gradient(green, green), linear-gradient(40deg, #00ff00, #00ec00, #00e100, #02cd02, #02ad02, green);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 0.5em;
  background-size: 200% 100%;
  transition: 1s;
  animation: glowing-button 20s linear infinite;
  pointer-events: all;
}

.formButtonDesign:disabled, .formButtonDesignEdit:disabled{
  color: #404040;
  background-image: linear-gradient(#000, #000);
  pointer-events: none;
}

.formButtonDesign:hover{
    color: #000000;
    background-image: linear-gradient(#fff, #fff), linear-gradient(40deg, var(--main-dark-red), var(--main-red-secondary), var(--main-red), #bfbfbf, #fff);
    transition: 1s;
    cursor: pointer;
}

.formButtonDesignEdit:hover{
  color: green;
  background-image: linear-gradient(#00ff00, #00ff00), linear-gradient(40deg, green, #02ad02, #02cd02, #00e100, #00ec00, #00ff00);
  transition: 1s;
  cursor: pointer;
}

@keyframes glowing-button {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }